<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modulus.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Modulus.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Modulus.Properties.Config>
            <setting name="Data_Source" serializeAs="String">
                <value>SERVEUR-MOTION\MOTIONCOMPOSITES</value>
            </setting>
            <setting name="Initial_Catalog" serializeAs="String">
                <value>MODULUS_TEST</value>
            </setting>
            <setting name="User_ID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>MotComp2011</value>
            </setting>
        </Modulus.Properties.Config>
        <Modulus.Config>
            <setting name="Data_Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial_Catalog" serializeAs="String">
                <value />
            </setting>
            <setting name="User_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Modulus.Config>
    </userSettings>
</configuration>